<template name="home">
    <p>{{> loginButtons}}</p>
    {{#if currentUser}}
        <div class="container">
            {{> projectsTmpl}}
            {{> testingTmpl}}
            {{> findingsTmpl}}
        </div>
        <button id="btnHtmlReport" class="button black" title="Generate an issue report for this project in HTML and download it.">HTML Report</button>
        <button id="btnCsvReport"  class="button black" title="Generate an issue report for this project in CSV and download it.">CSV Report</button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button id="btnCsvExport" class="button black" title="Export all issue data as CSV and download." onclick="window.open('/issues.csv', 'DownloadWin')">Export all as CSV</button>
        <button id="btnUpdate"    class="button black" title="Üpdate code from GIT">Update App</button>
    {{/if}}
</template>
