<template name="testingTmpl">
    
    <!-- CHOOSE TEST -->    
    <details open="open" id="testingDetails">
        <summary id="testingSummary">Testing Information (KB)</summary>
        <table class="issueTab">
            <tr><th class="issueTH">Test</th><td class="issueVals">
                    <table><tr> <td class="tselTD">
                                    <button id="btnBack" class="button black">&lt; Back</button></td>
                                <td class="tselTD">
                                    <select id="testSel" title="Choose Test" class="testSelector">
                                        <option disabled>Choose Test</option>
                                            {{#each myTests}}
                                            {{> myTestTmpl}}
                                            {{/each}}</select></td>
                                <td class="tselTD">
                                    <button id="btnNext" class="button black">Next &gt;</button></td>
                                <td class="tinyTD">
                                  <span  id="TPhase"   class="tinyText" title="Phase"></span>; 
                                  <span  id="TSection" class="tinyText" title="Section"></span>
                                </td></tr></table></td>
                                <!--
                                <td  id="TPhase"   class="tinyTD" title="Phase"></td>
                                <td  id="TSection" class="tinyTD" title="Section"></td></tr></table></td>
                                -->
                                </tr>

            <!-- SEARCH BY TEST NAME -->
            <tr><th class="issueTH"></th><td class="issueVals">                    
                    <input id="testNameTA" class="form-control typeahead" name="testNameTA" type="text" 
                           placeholder="Search by Test Name" autocomplete="off" spellcheck="false" 
                           data-source="myTests" data-select="selectTN" data-limit="30" /></td></tr></table>    
        
        <!-- TEST KB DATA -->
        <table class="issueTab">
            <tr class="iTR"><th class="issueTH">Test Name</th>   <td class="issueVals">
                    <input id="TTestName" class="testKbInShort" type="text" placeholder="Short name for test" />                    
                    <button id="kbBtnNew" class="kbBtn">New</button></td></tr>
            
            <tr class="iTR"><th class="issueTH">Tester Help</th><td class="issueVals">
                    <textarea id="TTesterSupport" class="testKbTA" rows="1" placeholder="Support text for tester"></textarea></td></tr>
            
            <tr class="iTR"><th class="issueTH">Test Ref</th>   <td class="issueVals">
                    <a href="#" id="TTRefA" target="TRWin">&gt;</a> <input id="TTRef" class="testKbInShort" type="text" placeholder="URI reference for tester" /></td></tr> 
        </table>
    </details>
    
    
<!-- GENERIC ISSUE DATA -->
<details open="open" id="genericDetails">
        <summary>Generic Issue Data (KB)</summary> 
        
        <!-- CWE ID & SEARCH -->
        <table class="issueTab">
            <tr class="iTR">
                <th class="issueTH">CWE</th>
                <td class="issueVals">
                    <a class="issueA" target="cweTab" id="cweref" href="https://cwe.mitre.org/" title="Ref URI"></a></td>
                <td class="issueVals">
                    <input id="cwename" class="form-control typeahead" name="cwename" type="text"
                           placeholder="Search by CWE Name" autocomplete="off" spellcheck="false"
                           data-source="cwes" data-select="selectCwe" data-autocomplete="autocompleteCwe" data-limit="30" /></td></tr>
        </table>

        <!-- Issue Name -->
        <table class="issueTab">
            <tr class="iTR">
                <th class="issueTH">Issue Name</th>  
                <td class="issueVals"><input id="TIssueName" class="testKbIn" type="text" placeholder="Short issue name" /></td></tr>
        </table>

        <!-- Issue attributes: Severity, Refs... -->
        <table class="issueTab">
            <tr class="iTR">                        
                <th class="issueTH">Severity</th>   
                <td class="issueVals">
                    <select id="TSeverity" title="Priority" class="sevSelector" >
                        <option disabled selected  value="">Severity</option>
                        <option class="selOpt" value="0">Info</option>
                        <option class="selOpt" value="1">Low</option>
                        <option class="selOpt" value="2">Medium</option>
                        <option class="selOpt" value="3">High</option>
                    </select></td>

                <!--
                <th class="issueTH">Issue Type</th>  
                <td class="issueVals"><input id="TIssueType" class="testKbIn" type="text" placeholder="Issue Type" /></td>                
                -->

                <th class="issueTH">Issue Ref1</th> 
                <td class="issueVals"><a href="#" id="TRef1A" target="TRWin">&gt;</a> <input id="TRef1" class="testKbInShort" type="text" placeholder="Ref 1" /></td></tr> 

            <tr class="iTR">
                <th class="issueTH">Standards</th>
                <td class="issueVals"> 
                    <input type="checkbox" id="TPCI"     class="testKbCB" value="PCI" title="PCI-DSS Compliance Test">PCI
                    <input type="checkbox" id="TTop10"   class="testKbCB" value="Top10" title="OWASP Top 10 Test">T10
                    <input type="checkbox" id="TTop25"   class="testKbCB" value="Top25" title="SANS Top 25 Most Dangerous Software Errors Tests">T25
                    <input type="checkbox" id="TStdTest" class="testKbCB" value="StdTest" title="My own list of Standard Tests">Std</td>

                <th class="issueTH">Issue Ref2</th> <td class="issueVals"><a href="#" id="TRef2A" target="TRWin">&gt;</a> <input id="TRef2" class="testKbInShort" type="text" placeholder="Ref 2" /></td></tr>
        </table>
    </details>    

    <!-- SPECIFIC ISSUE DATA -->
    <details open="open" id="specificDetails">
        <summary>Specific Issue Data</summary>
        <table class="issueTab">        
            <tr class="iTR"><th class="issueTH">URIs</th>       <td class="issueDetails"><textarea id="IURIs"        class="issueTA" rows="2" placeholder="URI list, one per line"></textarea></td></tr>
            <tr class="iTR"><th class="issueTH">Evidence</th>   <td class="issueDetails"><textarea id="IEvidence"    class="issueTA" rows="4" placeholder="Output from commands, HTTP payloads or exploit code with results. To prefill this field with boilerplate text, make sure the field value is empty and double-click in it."></textarea></td></tr>
            <tr class="iTR"><th class="issueTH">Paste Area</th> <td class="issueDetails"><textarea id="IScreenshots" class="issueTA" rows="2" placeholder="Paste screenshots in this field. They will be appended as HTML5 images (Base64)."></textarea></td></tr>
            <tr class="iTR"><th class="issueTH">Notes</th>      <td class="issueDetails"><textarea id="INotes"       class="issueTA" rows="4" placeholder="Notes explaining the issue or testing done. To prefill this field with boilerplate text, make sure the field value is empty and double-click in it."></textarea></td></tr>
            <tr class="iTR"><th class="issueTH">Priority</th>   <td class="issueDetails">
                <select id="IPriority" title="Priority" class="prioSelector" >
                    <option disabled selected value="">Priority</option>
                    <option class="prioOpt" value="0">Info</option>
                    <option class="prioOpt" value="1">Low</option>
                    <option class="prioOpt" value="2">Medium</option>
                    <option class="prioOpt" value="3">High</option>
                </select>
            </td></tr>
        </table>
    </details>    
</template>    

<template name="myTestTmpl">
    <option class="testOpt" value="{{TID}}" oid="{{OID}}" tSource="{{TSource}}">{{TID}} {{TTestName}}</option>
</template>
